<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <head>
        <meta charset="utf-8">

        <!-- Bootstrap core CSS -->
        <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">


    </head>
</head>
<body>
<section>



    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Campaigns</h1>
            <p1>Here you will see various campaigns conducted by foundation</p1>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
        <div class="album py-5 bg-light">
            <div class="container">
                <center>
                <h1 class="bg-danger text-white">Previous Campaigns</h1>
                </center>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="/img/blood.jpg" width="300" height="250"  alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Venue-At KL university,Vijayawada</p>
                                <p class="card-text">Timings- 9:00AM TO 12:00PM</p>
                                <p class="card-text">Contact phno-: 9121949400 </p>
                                <p class="card-text">Email:mandepurajkumar2@gmail.com</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">2 days ago</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="/img/cloth.jpg" width="300" height="250"  alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Venue-At KL university,Vijayawada</p>
                                <p class="card-text">Timings- 9:00AM TO 12:00PM</p>
                                <p class="card-text">Contact phno-: 9121949400 </p>
                                <p class="card-text">Email:mandepurajkumar2@gmail.com</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">2 days ago</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="/img/organ.jpg" width="300" height="250"  alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Venue-At KL university,Vijayawada</p>
                                <p class="card-text">Timings- 9:00AM TO 12:00PM</p>
                                <p class="card-text">Contact phno-: 9121949400 </p>
                                <p class="card-text">Email:mandepurajkumar2@gmail.com</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">2 days ago</small>
                                </div>
                            </div>
                        </div>
                    </div>
                     <center>
                    <h1 class="bg-success text-white">OnGoing Campaigns</h1>
                     </center>

                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="/img/tree.jpg" width="300" height="250"  alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Venue-At KL university,Vijayawada</p>
                                <p class="card-text">Timings- 9:00AM TO 12:00PM</p>
                                <p class="card-text">Contact phno-: 9121949400 </p>
                                <p class="card-text">Email:mandepurajkumar2@gmail.com</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">12 hrs ago</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="/img/blood.jpg" width="300" height="250"  alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Venue-At KL university,Vijayawada</p>
                                <p class="card-text">Timings- 1:00PM TO 4:00PM</p>
                                <p class="card-text">Contact phno-: 9121949400 </p>
                                <p class="card-text">Email:mandepurajkumar2@gmail.com</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">3 hrs ago</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="/img/organ.jpg" width="300" height="250"  alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Venue-At KL university,Vijayawada</p>
                                <p class="card-text">Timings- 4:00PM TO 6:00PM</p>
                                <p class="card-text">Contact phno-: 9121949400 </p>
                                <p class="card-text">Email:mandepurajkumar2@gmail.com</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">3 hrs ago</small>
                                </div>
                            </div>
                        </div>
                    </div>
                       <center>
                    <h1 class="bg-warning text-white">UpComing Campaigns</h1>
                       </center>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="/img/fund.jpg" width="300" height="250"  alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Venue-At KL university,Vijayawada</p>
                                <p class="card-text">Timings- 9:00AM TO 12:00PM</p>
                                <p class="card-text">Contact phno-: 9121949400 </p>
                                <p class="card-text">Email:mandepurajkumar2@gmail.com</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Date: 03/01/2022</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="/img/food.jpg" width="300" height="250"  alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Venue-At KL university,Vijayawada</p>
                                <p class="card-text">Timings- 4:00PM TO 6:00PM</p>
                                <p class="card-text">Contact phno-: 9121949400 </p>
                                <p class="card-text">Email:mandepurajkumar2@gmail.com</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Date: 05/01/2022</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="/img/blood.jpg" width="300" height="250"  alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Venue-At KL university,Vijayawada</p>
                                <p class="card-text">Timings- 9:00AM TO 12:00PM</p>
                                <p class="card-text">Contact phno-: 9121949400 </p>
                                <p class="card-text">Email:mandepurajkumar2@gmail.com</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Date: 08/01/2022</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Footer -->
    <footer class="bg-dark text-light">
        <div class="container py-5">
            <div class="row py-4">
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="img/logo.png" alt="" width="180" class="mb-3">
                    <p class="font-italic text-muted-light">WeCare is NGO Foundation,we serve for the people who are in need of help.</p>
                    <ul class="list-inline mt-4">
                        <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                    <h6 class="text-uppercase font-weight-bold mb-4">Services</h6>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><a href="#" class="text-muted-light">Donate</a></li>
                        <li class="mb-2"><a href="#" class="text-muted-light">Become VOlunteer</a></li>
                        <li class="mb-2"><a href="#" class="text-muted-light">Campaigns</a></li>
                        <li class="mb-2"><a href="#" class="text-muted-light">Our Blog</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                    <h6 class="text-uppercase font-weight-bold mb-4">Foundation</h6>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><a href="#" class="text-muted-white">Login</a></li>
                        <li class="mb-2"><a href="#" class="text-muted-light">Register</a></li>
                        <li class="mb-2"><a href="#" class="text-muted-light">Our Services</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-lg-0">
                    <h6 class="text-uppercase font-weight-bold mb-4">Newsletter</h6>
                    <div class="p-1 rounded border">
                        <div class="input-group">
                            <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
                            <div class="input-group-append">
                                <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copyrights -->
        <div class="bg-dark py-4">
            <div class="container text-center">
                <p class="text-muted-light mb-0 py-2">© 2022 WeCare All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- End -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>

</section>
</body>
</html>