<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
   <section class="banner d-flex justify-content-center align-items-center ">
             <div class="text-center">
                 <h1>WE CARE FOUNDATION</h1>
                 <p>Small Effort Make Big Changes</p>
                 <a class="btn bg-warning btn-lg text-white" th:href="@{/signin}">Get Started</a>
             </div>

   </section>
</body>
</html>